h1 {
	color: #939393;
	font-family: 'IBM Plex Mono', monospace;
	font-size:3em;
	text-align:left;
}

h2 {
	color: #939393;
	font-family: 'IBM Plex Mono', monospace;
	font-size:1.5em
;	font-weight: 600;
}

td {
	text-align:vertical;
}

.container {
	width: 980px;
	padding-top: 20px;
	margin: 0 auto;
}

.float {
	float:left;
}

#phantom {
	min-height: 1px;
	height: 100%;
	width: 160px;
	padding-right: 20px;
}

#name {

	width:800px;
	margin-left:auto;
	margin-right:auto;
}

#nav {
	height: 100%; /* Full-height: remove this if you want "auto" height */
	width: 160px; /* Set the width of the sidebar */
  	overflow-x: hidden; /* Disable horizontal scroll */
  	padding-top: 20px;
  	padding-right: 20px;
}


#nav a {
    color:#000000;
    text-decoration:none;
    font-family:"IBM Plex Mono", monospace;
	font-weight:bold;
    font-size:1.2em;
	padding: 6px 8px 6px 16px;
	display:block;
}

#nav a:visited{
    color:#000000;
    text-decoration:none;
}

#nav a:hover{
    color:#a057ff;
    text-decoration:none;
}
#nav a:active{
    color:#a057ff;
    text-decoration:none;
}

ul#courselist li{
	font-family:Raleway, sans-serif;
	line-spacing:40px;
}

#content {

	width:800px;
    margin-left:auto;
	margin-right:auto;
	padding-bottom:20px;

}
#content  p{
	font-family:'IBM Plex Mono', monospace;
	font-size: 1.3em;
	line-spacing:40px;
	color:#000000
;}

#content  li{
	font-family:'IBM Plex Mono', monospace;
	font-size: 1.3em;
	line-spacing:40px;
	color:#000000
;}
#content a:link{
	color:#a057ff;
	text-decoration:none;
}
#content a:visited{
	color:#a057ff;
	text-decoration:none;
}
#content a:hover{
	color:#a057ff;
	text-decoration:none;
}
#content a:active{
	color:#a057ff;
	text-decoration:none;
}
#content img{
	float:right;
	margin-top:5px;
	margin-left:10px;
	margin-bottom:10px;
	width:400px;
}
.footer {
	font-family:"PT Sans", sans-serif;
	text-align:center;
	width:800px;
	padding-top:40px;
	clear:both;
	margin-left:auto;
	margin-right:auto;
}
.footer img {
	margin-top:3px;
	display:inline-block;
}

.teachingitems p {

	padding-left:40px;
}

.ohbox {
  font-size: 125%;
  text-align:center;
  width: 300px;
  height: 53px;
  margin: 10px;
  padding: 25px;
  border: 5px solid black;
}
